:root {
  --color-brand: #498082;

  --color-app-background: #292929;
  --color-header-background: #181818;
  --color-body-background: #292929;

  --color-code-background: #202020;
  --color-quote-background: #202020;

  --color-text-default: #f1f1f1;
  --color-text-highlight: white;
  --color-text-link: #498082;
  --color-text-link-hover: #64c8c8;
  --color-text-subtle: #c5c5c5;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --border-radius: 4px;
}
