---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'img'> {
  src: string;
  title: string;
  alt?: string;
  width?: number;
}

const { src, title, ...props } = Astro.props;
let { width, alt } = Astro.props;

if (!alt) alt = title;
if (!width) width = 500;
---

<img src={src} title={title} alt={alt} width={width} {...props} />
<div class="subtitle">
  <slot />
</div>

<style>
  p {
    text-align: center;
    font-size: medium;
    font-style: italic;
    color: var(--color-text-subtle);
  }
</style>
