---
import BaseHead from '../components/app/BaseHead.astro';
import Header from '../components/app/Header.astro';
import Footer from '../components/app/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head><body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
